<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Files</title>
</head>
<body>
    <h1>Download files</h1>
    <ul>
    <% for(let i = 0; i < files.length; i++) { %>
        <a href="<%= files[i] %>" style="text-decoration: none; color: black; background-color: rgb(237, 232, 100); padding: 5px;;">
        <%= files[i].split('/').reverse()[0] %>
        </a>
    <% } %>
    </ul>    
</body>
</html>