<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload file</title>
</head>
<body>
    <% if (message) { %>
        <div class="alert alert-info">
            <h1>
                <%= message %>
            </h1>
        </div>
    <% } %>  
    <form action="/file/upload" enctype='multipart/form-data' method="post">
        <div style="width: 500px; margin: auto; padding: 20px;">
            <input type="file" name="file" id="file" accept=".txt">
            <br>
            <br>
            <input type="submit" value="send">
        </div>
    </form>
    <br>
    <hr>
    <a href="/files" style="text-decoration: none; color: black; background-color: aqua; padding: 5px;">Download Processed files</a>
</body>
</html>